 /* scrollbar */
::-webkit-scrollbar
{
    width: 7px;
}

::-webkit-scrollbar-thumb
{
    background: #c1c1c1;
    border-radius: 10px;
}

::-webkit-scrollbar-track
{
    background: rgba(201, 201, 201, 0.5);
    box-shadow: inset 0 0 5px white;
}
/* //scrollbar */
 .u-section-1 {
  background-image: linear-gradient(rgba(94, 157, 252, 0.4), rgba(165, 165, 165, 0.1)), url("images/c75b32aa5659a4f90df899e573cae61e61c0e6215e71a7c012fe8d64b615f082ce121de6d2409a1601dd819c870459f2675115a65dd7eb65d9595f_1280.jpg");
  background-position: 50% 10%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 479px;
  min-height: 68px;
  margin: 12px -350px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  transition-duration: 0.2s;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 10px auto 0 7px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  transition-duration: 0.2s;
  font-size: 1.5rem;
  font-weight: 400;
  margin: -38px auto 0 157px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  transition-duration: 0.2s;
  font-size: 1.5rem;
  font-weight: 400;
  margin: -38px auto 0 67px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  transition-duration: 0.2s;
  font-size: 1.5rem;
  font-weight: 400;
  margin: -38px auto 0 248px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -2px;
  margin: -60px auto 0 -340px;
}

.u-section-1 .u-icon-1 {
  margin-right: 0;
  font-size: 1.1945em;
  vertical-align: -3px;
}

.u-section-1 .u-group-2 {
  width: 1015px;
  min-height: 183px;
  margin: 150px auto;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 3px;
  text-align: start;
  font-size: 3.6rem;
  margin: 0;
}

.u-section-1 p.u-text-2 {
  width: 915px;
  font-weight: 100;
  font-size: 20px;
  margin: 30px 10px;
  line-height: normal;
}

.header-bottom {
  margin: 10px 0 0 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-bottom ion-icon{
  font-size: 3em;
  color: #db545a;
  animation-name: toBottom;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes toBottom {
  0%, 100%{
    transform: translateY(30%);
  }

  50% {
    transform: translateY(0);
  }
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: center;
  transition-duration: 0.2s;
  background-image: none;
  margin: 180px auto 0 auto;
  padding: 0 25px;
}

.u-section-1 .u-group-3 {
  width: 40px;
  min-height: 266px;
  margin: 205px auto 0 -340px;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-1 .u-icon-2 {
  width: 40px;
  height: 40px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-3 {
  width: 40px;
  height: 40px;
  margin: 30px 0 0;
}

.u-section-1 .u-icon-4 {
  width: 40px;
  height: 40px;
  margin: 30px 0 0;
}

.u-section-1 .u-icon-5 {
  width: 40px;
  height: 40px;
  margin: 30px 0 0;
}

.u-icon.u-icon-circle.u-text-palette-1-dark-2.u-icon-6 {
  display: none;
  width: 30px;
}

.u-section-1 .u-btn-5,
.u-section-1 .u-btn-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}.u-section-2 .u-sheet-1 {
  min-height: 750px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-2 .u-image-1 {
  min-height: 315px;
  background-image: url("images/28684754aa1842714c88a501d1b8e8d86fab533bdfaa971a62d9854ca16f495b8ce66b5f6f054fe8163526ec32b2f559ff1497fd19645a4b390139_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  transition-duration: 0.5s;
  margin: 20px auto 0 0;
  padding: 7px 0;
}

.u-section-2 .u-image-2 {
  min-height: 315px;
  background-image: url("images/f981fe7e5fe95fc2aeefbaa428e1d1fcb0ce97b811536d584d859373e880f9f447d94eaa57750769f6e86b03dca5b414ea0fa94af0c3356b7622e4_1280.jpg");
  background-position: 50% 0%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1775px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px 773px 0 167px;
}

.u-section-3 .u-icon-1 {
  color: rgb(102, 102, 102) !important;
  margin-right: 0;
  vertical-align: 0px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: -52px 228px 0 690px;
}

.u-section-3 .u-icon-2 {
  margin-right: 0;
  vertical-align: 0px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1583px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-accordion-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-3 .u-accordion-item-1 {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  margin-left: auto;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 151px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-3 .u-text-4 {
  margin-bottom: 0;
  margin-top: -24px;
  font-weight: 700;
  font-size: 1.25rem;
  margin-left: 0;
}

.u-section-3 .u-text-5 {
  margin: 25px 170px 0 0;
}

.u-section-3 .u-accordion-item-2 {
  margin-left: auto;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  margin-left: auto;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-left: 0;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  text-align: left;
  margin: 25px auto 0 0;
}

.u-section-3 .u-accordion-item-3 {
  margin-left: auto;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  margin-left: auto;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-accordion-item-4 {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-4 {
  background-image: none;
  margin-left: auto;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-accordion-item-5 {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-5 {
  background-image: none;
  margin-left: auto;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-3 .u-icon-7 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-accordion-item-6 {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-6 {
  background-image: none;
  margin-left: auto;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-3 .u-icon-8 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-6 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-accordion-item-7 {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-7 {
  background-image: none;
  margin-left: auto;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-3 .u-icon-9 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-7 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-accordion-item-8 {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-8 {
  background-image: none;
  margin-left: auto;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-3 .u-icon-10 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-8 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-accordion-item-9 {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-9 {
  background-image: none;
  margin-left: auto;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-3 .u-icon-11 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-9 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-accordion-item-10 {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-10 {
  background-image: none;
  margin-left: auto;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-3 .u-icon-12 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-10 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px;
}

.u-section-3 .u-accordion-item-11 {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-11 {
  background-image: none;
  margin-left: auto;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-3 .u-icon-13 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-11 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px;
}

.u-section-3 .u-accordion-item-12 {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-12 {
  background-image: none;
  margin-left: auto;
  font-weight: 700;
  font-size: 1.875rem;
  padding: 30px;
}

.u-section-3 .u-icon-14 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-12 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-13 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1583px;
}

.u-section-3 .u-container-layout-14 {
  padding: 30px 50px;
}

.u-section-3 .u-image-1 {
  width: 290px;
  height: 353px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 15px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  transition-duration: 0.5s;
  margin: 15px auto 0 0;
  padding: 14px 52px 15px 51px;
}

.u-section-3 .u-image-2 {
  width: 290px;
  height: 353px;
  text-align: left;
  object-position: 18.29% 50%;
  margin: 61px auto 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  line-height: 2;
  text-align: left;
  margin: 15px 0 0;
}

.u-section-3 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  transition-duration: 0.5s;
  text-align: left;
  margin: 15px auto 0 0;
  padding: 14px 52px 15px 51px;
}

@media (max-width: 1550px) {
  .u-clearfix.u-image.u-section-1{
    height: 753px;
  }

  .u-section-1 .u-group-1{
    margin: 12px -210px 0 auto;
  }

  .u-section-1 .u-text-1 {
    margin: -60px auto 0 -160px;
  }

  .u-section-1 .u-group-2{
    margin: 90px -215px 0 auto;
  }

  .u-section-1 .u-text-2{
    font-size: 2.6rem;
  }

  .u-section-1 .u-group-3{
    margin: 130px auto 0 -160px;
  }

  .u-clearfix.u-sheet.u-sheet-1 .u-title
  {
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .u-section-3 .u-text-1{
    margin: auto 20px 0 0;
  }

  .u-section-3 .u-text-2{
    margin: auto 20px 0 0;
  }
}

@media (max-width: 1400px) {
  .u-section-1 .u-text-1{
    margin: 20px 0 0 20px;
  }

  .u-icon.u-icon-circle.u-text-palette-1-dark-2.u-icon-6 {
    display: block;
    margin: -35px 0 0 700px;
  }

  .u-align-center.u-container-style.u-group.u-group-1 {
    display: none;
  }

  .u-section-1 .u-text-2{
    font-size: 2.5rem;
  }

  .u-section-1 .u-text-2 {
    text-align: center;
  }

  .u-section-1 .u-btn-5 {
    display: block;
  }

  .u-section-1 p.u-text-2 {
    width: 700px;
    text-align: left;
  }

  .header-bottom {
    margin: -70px 0 0 350px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 7px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 157px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 67px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 40px;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 30px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 30px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -76px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-clearfix.u-image.u-section-1 {
    height: 520px;
  }

  .u-section-1 .u-text-1 {
    margin: 10px 0 0 -20px;
  }
  .u-section-1 .u-group-1 {
    display: none;
  }

  .u-section-1 p.u-text-2 {
    width: 360px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 81px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -55px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-2 {
    width: 380px;
    margin: 70px auto 0 auto;
  }

  p.u-text.u-text-white.u-text-2 {
    display: none;
  }
  
  .u-section-1 .u-btn-5 {
    margin: 0 0 0 -60px;
  }

  .u-icon.u-icon-circle.u-text-palette-1-dark-2.u-icon-6 {
    margin: -25px 0 0 400px;
  }

  .header-bottom {
    margin: -30px 0 0 320px;
  }

  .u-section-1 .u-btn-5 {
    display: none;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-3 .u-text-1 {
    width: 867px;
    margin-left: 67px;
    margin-right: 673px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 63px;
    margin-right: 128px;
    margin-left: 590px;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(102, 102, 102) !important;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -55px;
    margin-bottom: 0;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1305px;
  }

  .u-section-3 .u-accordion-1 {
    margin-left: initial;
  }

  .u-section-3 .u-icon-3 {
    color: rgb(153, 153, 153);
  }

  .u-section-3 .u-text-5 {
    margin-right: 70px;
    width: 236px;
  }

  .u-section-3 .u-icon-4 {
    color: rgb(153, 153, 153);
  }

  .u-section-3 .u-icon-5 {
    color: rgb(153, 153, 153);
  }

  .u-section-3 .u-icon-6 {
    color: rgb(153, 153, 153);
  }

  .u-section-3 .u-icon-7 {
    color: rgb(153, 153, 153);
  }

  .u-section-3 .u-icon-8 {
    color: rgb(153, 153, 153);
  }

  .u-section-3 .u-icon-9 {
    color: rgb(153, 153, 153);
  }

  .u-section-3 .u-icon-10 {
    color: rgb(153, 153, 153);
  }

  .u-section-3 .u-icon-11 {
    color: rgb(153, 153, 153);
  }

  .u-section-3 .u-icon-12 {
    color: rgb(153, 153, 153);
  }

  .u-section-3 .u-icon-13 {
    color: rgb(153, 153, 153);
  }

  .u-section-3 .u-icon-14 {
    color: rgb(153, 153, 153);
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1570px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -20px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 520px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 223px;
    margin-right: 18px;
    margin-left: 480px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -215px;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1730px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 1405px;
    margin-right: 0;
    margin-left: 318px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1397px;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1410px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 140px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 1725px;
    margin-left: 118px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1691px;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1730px;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-btn-2,
.u-section-3 .u-btn-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    height: 38px;
    width: 99px;
    padding: 7px 10px;
  }

  .u-section-2 .u-btn-2 {
    height: 38px;
    width: 99px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}