@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

body {
  overflow-x: hidden;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
/* //scrollbar */

#header {
  background-image: linear-gradient(
      rgba(94, 157, 252, 0.4),
      rgba(165, 165, 165, 0.1)
    ),
    url("../img/main-bg.jpg");
  background-position: 50% 10%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#toTop {
  position: relative;
  z-index: 1;
  transition: 0.5s;
  display: none;
}

#toTop.down {
  display: block;
}

.title::before {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 10px;
  width: 45px;
  height: 5px;
  background: #212529;
}

#intro {
  animation-name: toBottom;
  animation-timing-function: ease;
  transition: top 0.5s;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#intro h1 {
  font-size: 2.2em;
}

#intro p {
  font-size: 1.25rem;
}

#toButtom {
  animation-name: toBottom-infinite;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes toBottom {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes toBottom-infinite {
  0%,
  100% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(45%);
    opacity: 1;
  }
}

@keyframes toRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toRight-infinite {
  0%,
  100% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toLeft-infinite {
  0%,
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(50%);
    opacity: 1;
  }
}
/* slider */

.swiper {
  width: 100%;
  min-height: 100%;
}

.swiper-slide {
  font-size: 18px;
  height: 100vh;
  padding: 80px 100px 30px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-slide .wrap {
  top: 50px;
}

.slider-img1,
.slider-img2 {
  bottom: 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#slide1 h1,
#slide2 h1 {
  font-size: calc(1.35rem + 1vw);
}

#slide1 ion-icon {
  animation: toRight-infinite;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#slide2 ion-icon {
  animation: toLeft-infinite;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.slider-img img,
.slider-img div {
  width: 550px;
  height: 300px;
}

.slider-img div p {
  line-height: 40px;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: #fff;
}

.swiper-slide:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/intro_section_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/intro_section_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-snb {
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  display: flex;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  font-size: 1.3rem;
}

.slider-snb ul {
  display: flex;
  list-style: none;
}

.slider-snb ul li {
  margin-right: 60px;
}

.slider-snb ul li a {
  position: relative;
  color: #fff;
  font-size: 1.1rem;
}

.slider-snb ul li a.active::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 150%;
  height: 2px;
  background: #fff;
}

/* //slider */

.map-container {
  overflow: hidden;
  position: relative;
  padding: 15% 40%;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#contact-info {
  padding: 0 10rem;
}

#contact-info ul li span {
  margin-right: 15px;
  padding: 3px 20px;
  border-radius: 20px;
  color: #fff;
}

#contact-subway ul li:nth-child(1) span {
  background: #02a94e;
}

#contact-subway ul li:nth-child(2) span {
  background: #ef7d1e;
}

#contact-subway ul li:nth-child(3) span {
  background: #758002;
}

#contact-bus ul li:nth-child(1) span {
  background: #18a830;
}

#contact-bus ul li:nth-child(2) span {
  background: #081ddd;
}

#contact-address p:nth-child(1) {
  font-size: 2rem;
}

#contact-info ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
}

@media (max-width: 1600px) {
  .slider-img img,
  .slider-img div {
    width: 430px;
    height: 200px;
  }
}

@media (max-width: 991px) {
  #contact-info {
    padding: 0rem;
  }

  #contact-info ul {
    padding: 1rem 0 0 8rem;
  }

  #contact-info ul li {
    font-size: 15px;
  }

  #slide2 .slider-img div {
    text-align: right;
  }

  .slider-img1 {
    justify-content: start;
  }

  .slider-img2 {
    justify-content: end;
  }
}

@media (max-width: 568px) {
  html,
  body {
    width: auto !important;
    overflow-x: hidden !important;
  }

  .map-container {
    overflow: hidden;
    position: relative;
    padding: 30% 0;
  }

  .footer-about p {
    font-size: 1rem;
  }

  #contact-address p:nth-child(1) {
    font-size: 1.1rem;
  }

  #contact-info {
    padding: 0 20px;
  }

  #contact-info ul {
    padding: 1rem 0 0 2rem;
  }

  #contact-info ul li {
    font-size: 13px;
  }

  .swiper-slide {
    padding: 0 20px;
  }

  .slider-img div p {
    font-size: 1rem;
  }

  #slide1 h1,
  #slide2 h1 {
    font-size: calc(1.2rem + 0.8vw);
  }
}
