@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    overflow-x: hidden;
}
 /* scrollbar */
 ::-webkit-scrollbar
 {
     width: 7px;
 }
 
 ::-webkit-scrollbar-thumb
 {
     background: #c1c1c1;
     border-radius: 7px;
 }
 
 ::-webkit-scrollbar-track
 {
     background: transparent;
 }
 /* //scrollbar */

#header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/pds-bg.jpg");
    background-position: 50% 70%;
    min-height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}

#header #title {
    font-size: 3.2rem;
    letter-spacing: 7px;
}

#intro {
    animation-name: toBottom;
    animation-timing-function: ease;
    transition: top 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#toTop {
    position: relative;
    z-index: 1;
    transition: 0.5s;
    display: none;
}

#toTop.down {
    display: block;
}

.title::before {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 10px;
    width: 45px;
    height: 5px;
    background: #212529;
}

#intro {
    animation-name: toBottom;
    animation-timing-function: ease;
    transition: top 0.5s;
    animation-duration: 1s;
    animation-delay: .8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#intro h1{
    font-size: 2em;
}

#toButtom {
    animation-name: toBottom-infinite;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes toBottom {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.board_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.board_list .board_top {
    display: flex;
    align-items: center;
    border-top: 1px solid #333;
    border-bottom: 1px solid #ddd;
    padding: 20px 0 0 0;
}

.board_list p {
    text-align: center;
    font-size: 15px;
    color: #222;
}

.board_list .board_top p {
    font-weight: bold;
}

.board_list .board_num {
    width: 95px;
}

.board_list .board_tit {
    width: 100%;
}

.board_list .board_date {
    width: 140px;
}

.board_list .board_view {
    width: 100px;
}

.board_list .board_item {
    display: flex;
    padding: 20px 0;
}

@keyframes toBottom-infinite {
    0%, 100% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(45%);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    html, body {
    width: auto !important;
    overflow-x: hidden !important;
    }

    #setUp table tr:nth-child(1) {
        display: none;
    }

    #setUp table tr td:nth-child(1) {
        display: none;
    }
}

.table_cell_center {
    display: table-cell; text-align: center; vertical-align: middle;
}

@media (max-width: 568px) {
    #footer-intro p{
        font-size: 0.8rem;
    }
}