@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    overflow-x: hidden;
}

 /* scrollbar */
 ::-webkit-scrollbar
 {
     width: 7px;
 }
 
 ::-webkit-scrollbar-thumb
 {
     background: #c1c1c1;
     border-radius: 10px;
 }
 
 ::-webkit-scrollbar-track
 {
     background: rgba(201, 201, 201, 0.5);
     box-shadow: inset 0 0 5px white;
 }
 /* //scrollbar */

#header {
    background-image: linear-gradient(rgba(94, 157, 252, 0.4), rgba(165, 165, 165, 0.1)), url("../img/main-bg.jpg");
    background-position: 50% 10%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#section {
    min-height: 125px;
    background: #f9fcff;
}

#gnb {
    height: 75px;
    z-index: 11;
    animation-name: toBottom;
    animation-timing-function: ease;
    transition: top 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#gnb.down {
    background: rgba(255, 255, 255, 0.8);
}

#gnb.down a span {
    color: #6c757d;
}

#gnb.down #menu li a {
    color: #6c757d;
}

#gnb.down #menu-sm ion-icon {
    color: #6c757d;
}

#logo {
    transition: .5s;
}

#menu-sm ion-icon {
    color: #fff;
    transition: .5s;
}
#gnb.active a span{
    color: #6c757d;
}

#menu-sm.active ion-icon {
    color: #6c757d;
}

#logo {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

#menu li {
    animation-name: toBottom;
    animation-timing-function: ease;
    transition: top 0.5s;
    animation-duration: 1s;
    animation-delay: calc(0.25s * var(--i));
    animation-fill-mode: forwards;
    opacity: 0;
}

#menu li a {
    transition: 0.5s;
    color: #fff;
}

#sns li {
    animation-name: toRight;
    animation-timing-function: ease;
    transition: top 0.5s;
    animation-duration: 1s;
    animation-delay: calc(0.25s * var(--i));
    animation-fill-mode: forwards;
    opacity: 0;
}

#intro {
    animation-name: toBottom;
    animation-timing-function: ease;
    transition: top 0.5s;
    animation-duration: 1s;
    animation-delay: .8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#intro h1{
    font-size: 2em;
}

#sns li:nth-child(1) a:hover {
    color: #3b5998;
}
#sns li:nth-child(2) a:hover {
    color: #c4302b;
}
#sns li:nth-child(3) a:hover {
    color: #e7036a;
}
#sns li:nth-child(4) a:hover {
    color: #00acee;
}
#sns li a {
    color: #fff;
}

#readMore {
    animation-name: toBottom;
    animation-timing-function: ease;
    transition: top 0.5s;
    animation-duration: 1s;
    animation-delay: .6s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#toButtom {
    animation-name: toBottom-infinite;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes toBottom {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes toBottom-infinite {
    0%, 100% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(45%);
        opacity: 1;
    }
}

@keyframes toRight {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* navagation */
#navigation {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    transform: translateX(100%);
}

#navigation.active {
    transform: translateX(0);
}

@media (max-width: 768px) {
    html, body {
    width: auto !important;
    overflow-x: hidden !important;
    }
}